body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* ----------------banner styles----------------- */
.banner {
  display: flex;
  flex-wrap: wrap;
  background-color: #2d25a0;
}
.banner h1 {
  color: white;
  font-size: 64px;
  margin-left: 156px;
  margin-top: 207px;
}
.banner a {
  margin-left: 156px;
}
.link-button {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 15px 30px;
}

.banner-image img {
  height: 438px;
  width: 556.01px;
  margin-top: 153px;
  padding-left: 102px;
  padding-bottom: 86px;
}
/* players styles */
.players h1 {
  font-size: 28px;
}
.players p {
  font-size: 16px;
  color: lightgray;
}
.player-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}
.players img {
  width: 300px;
  height: 250px;
  padding-left: 50px;
}
.players {
  border: 1px dotted lightgray;
  width: 350px;
  max-height: 500px;
  margin: 15px;
  padding: 20px;
}
/* extra bits */
.new-jersey {
  display: flex;

  background-color: #2d25a0;
  color: white;
  font-size: 30px;
}
.jersey-pic img {
  padding-left: 30px;
  width: 700px;
}
.jersey-web {
  margin-left: 45px;
}
.jersey-web a {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
}
/* footer  */
footer img {
  width: 100px;
  justify-content: center;
}
